<div class="row">
    <p><b><%= comment.author %> said:</b></p></strong><%= link_to 'Destroy', post_comment_path(comment.post,comment), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
    <p><%= comment.text %></p>
    <hr />
</div>