<% get_posts_desc().each do |post| %>
    <div class="page-curl">
        <div class="row">
          <div class="col-lg-12">
            <%= render post %>
          </div>
        </div>
    </div>
<% end %>